{% extends 'base_generic.html' %}
{% load static %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'hotel_your_choice:login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username">
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password">
            {{ form.password.errors }}
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a>.</p>
    <p>Don't have an account? <a href="{% url 'hotel_your_choice:register' %}">Register here</a>.</p>
</div>
{% endblock %}
