{% extends 'base_generic.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="register-container">
    <h2>Register</h2>
    <form method="post" action="{% url 'hotel_your_choice:register' %}">
        {% csrf_token %}

        <div class="input-field">
            {{ form.username.label_tag }}<br>
            {{ form.username }}<br>
            {% if form.username.errors %}
                <span class="error">{{ form.username.errors }}</span><br>
            {% endif %}
        </div>
        
        <div class="input-field">
            {{ form.email.label_tag }}<br>
            {{ form.email }}<br>
            {% if form.email.errors %}
                <span class="error">{{ form.email.errors }}</span><br>
            {% endif %}
        </div>
        
        <div class="input-field">
            {{ form.first_name.label_tag }}<br>
            {{ form.first_name }}<br>
            {% if form.first_name.errors %}
                <span class="error">{{ form.first_name.errors }}</span><br>
            {% endif %}
        </div>
        
        <div class="input-field">
            {{ form.last_name.label_tag }}<br>
            {{ form.last_name }}<br>
            {% if form.last_name.errors %}
                <span class="error">{{ form.last_name.errors }}</span><br>
            {% endif %}
        </div>
        
        <div class="input-field">
            {{ form.contact_number.label_tag }}<br>
            {{ form.contact_number }}<br>
            {% if form.contact_number.errors %}
                <span class="error">{{ form.contact_number.errors }}</span><br>
            {% endif %}
        </div>
        
        <div class="input-field">
            {{ form.password1.label_tag }}<br>
            {{ form.password1 }}<br>
            {% if form.password1.errors %}
                <span class="error">{{ form.password1.errors }}</span><br>
            {% endif %}
        </div>
        
        <div class="input-field">
            {{ form.password2.label_tag }}<br>
            {{ form.password2 }}<br>
            {% if form.password2.errors %}
                <span class="error">{{ form.password2.errors }}</span><br>
            {% endif %}
        </div>

        <div class="input-field">
            <label for="{{ form.is_hotel_manager.id_for_label }}">
                {{ form.is_hotel_manager }} <span>Register as Hotel Manager</span>
            </label><br>
            {% if form.is_hotel_manager.errors %}
                <span class="error">{{ form.is_hotel_manager.errors }}</span><br>
            {% endif %}
        </div>

        <div class="input-field">
            <label for="{{ form.is_client_user.id_for_label }}">
                {{ form.is_client_user }} <span>Register as Client User</span>
            </label><br>
            {% if form.is_client_user.errors %}
                <span class="error">{{ form.is_client_user.errors }}</span><br>
            {% endif %}
        </div>

        <div class="btn-wrapper">
            <button type="submit" class="btn waves-effect waves-light">Register</button>
        </div>
    </form>
    <p>Already have an account? <a href="{% url 'hotel_your_choice:login' %}">Login here</a>.</p>
</div>

{% endblock %}
