{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" type="text/css" href="{% static 'hotel_your_choice_css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <title>{% block title %}Hotel Booking{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav class="blue">
                <div class="nav-wrapper">
                    <a href="{% url 'hotel_your_choice:view_hotels' %}">View Hotels</a>
                    <ul id="nav-mobile" class="right">
                        {% if user.is_authenticated %}
                            {% if user.is_hotel_manager %}
                                <li><a href="{% url 'hotel_your_choice:hotel_manager_dashboard' %}">Hotel Manager Dashboard</a>
                                </li>
                                <li><a href="{% url 'hotel_your_choice:add_hotel' %}">Add Hotel</a></li>
                                <li><a href="{% url 'hotel_your_choice:manage_bookings' %}">Manage Bookings</a></li>
                                <li><a href="{% url 'hotel_your_choice:unsubscribe' %}">Unsubscribe</a></li>
                            {% elif user.is_client_user %}
                            {% elif user.is_administrator %}
                            {% endif %}
                            
                                <li>Welcome, {{ request.user.username }}!</li>
                                <li><a href="{% url 'hotel_your_choice:logout' %}">Logout</a></li>
                                <li><a href="{% url 'hotel_your_choice:unsubscribe' %}">Unsubscribe</a></li>
                            {% else %}
                                <li><a href="{% url 'hotel_your_choice:login' %}">Login</a></li>
                                <li><a href="{% url 'hotel_your_choice:register' %}">Register</a></li>
                               
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block content %}

            {% endblock %}
        </main>
        <footer class="page-footer blue">
            <!-- Add your footer content here -->
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            M.AutoInit();
        </script>
    </body>

</html>