{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
{% load cloudinary %}
<link rel="stylesheet" href="{% static 'hotel_your_choice_css/view_hotels.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">

<style>
    /* Add your additional styles here */
</style>

<h1 class="center-align">Hotel Information</h1>

<div id="hotelContainer" class="hotels-container">
    <div class="row">
        {% for hotel in hotels %}
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    {% if hotel.main_photo %}
                    <img src="{% cloudinary photo.image.url %}" alt="{{ hotel.name }} Other Photo"
                        onclick="showEnlarged('{{ photo.image.url|safe }}', '{{ hotel.id }}', '{{ forloop.counter0 }}')"
                        data-hotel-id="{{ hotel.id }}">
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                {% if user == hotel.manager %}
                <a href="{% url 'hotel_your_choice:edit_hotel' hotel.id %}"
                    class="btn btn-small waves-effect waves-light">
                    Edit Hotel
                </a>
                <form method="post" action="{% url 'hotel_your_choice:delete_hotel' hotel.id %}"
                    style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-small waves-effect waves-light red">
                        Delete Hotel
                    </button>
                </form>
                {% endif %}
                {% endif %}
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>{{ hotel.name }}</h4>
                        <a id="readMoreLink_{{ hotel.id }}" href="javascript:void(0);"
                            onclick="showReadMoreModal('{{ hotel.id }}');">More Details about Hotel</a>

                        <!-- Modal content -->
                        <div class="modal-read-more" id="readMoreModal{{ hotel.id }}">
                            <h4>{{ hotel.name }}</h4>
                            <p>{{ hotel.description }}</p>
                            <!-- Include other details as needed -->
                            <button onclick="hideReadMoreModal('{{ hotel.id }}')">Close</button>
                        </div>
                        <p>{{ hotel.address }}</p>
                        <p>Amenities: {{ hotel.amenities.all|join:", " }}</p>
                        <p>Price per night: {{ hotel.night_rate }}</p>
                        <p>Room number: {{ hotel.room_number }}</p>
                        <p>Capacity: {{ hotel.capacity }}</p>

                        {% if user.is_authenticated %}
                        <a href="{% url 'hotel_your_choice:book_hotel' hotel.id hotel.name %}"
                            class="btn btn-small waves-effect waves-light pulse">
                            Book Now
                        </a>
                        {% else %}
                        <p>Login to book this hotel.</p>
                        {% endif %}

                        {% if hotel.other_photos.all %}
                        <div class="other-photos-container">
                            <h5>More Photos:</h5>
                            <div class="other-photos" id="otherPhotos{{ hotel.id }}">
                                {% for photo in hotel.other_photos.all %}
                                <img src="{% cloudinary photo.image.url %}" alt="{{ hotel.name }} Other Photo"
                                    onclick="showEnlarged('{{ photo.image.url }}', '{{ hotel.id }}', '{{ forloop.counter0 }}')"
                                    data-hotel-id="{{ hotel.id }}">
                                {% endfor %}
                            </div>
                            <button id="showPhotosButton{{ hotel.id }}"
                                onclick="toggleOtherPhotos('{{ hotel.id }}')">Show All Photos</button>
                            <!-- Enlarged image container -->
                            <div class="enlarged-image-container" id="enlargedContainer">
                                <img src="#" alt="Enlarged Image" class="enlarged-image" id="enlargedImage">
                                <!-- Left arrow -->
                                <div id="leftArrow" class="arrow">&lt;</div>
                                <!-- Right arrow -->
                                <div id="rightArrow" class="arrow">&gt;</div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- Display overall rating section for each hotel -->
                        {% if hotel.rated_bookings %}
                        <div class="hotel-container" data-hotel-id="{{ hotel.id }}">
                            <!-- Other hotel content -->

                            <a class="btn-small blue waves-effect waves-light pulse toggle-ratings ratings-button modal-trigger"
                                href="#ratingsModal{{ hotel.id }}">
                                Ratings
                            </a>

                            <div id="ratingsModal{{ hotel.id }}" class="modal">
                                <div class="modal-content">
                                    <h5 class="modal-title">Detailed Ratings</h5>
                                    <!-- If there are no rated bookings, show a message -->
                                    {% if not hotel.rated_bookings %}
                                    <p>No ratings or comments available for this hotel.</p>
                                    {% endif %}
                                    {% for booking in hotel.rated_bookings.all %}
                                    {% for rating in booking.ratings.all %}

                                    <!-- Display detailed rating information for each rating -->
                                    <ul>
                                        <li>
                                            {{ rating.user.username }},
                                            Rating: {{ rating.rating }},
                                            Comment: {{ rating.text|default:'' }},
                                            Date: {{ rating.timestamp|date:"F j, Y g:i a" }}

                                            <!-- Display additional booking details -->
                                            Booking Status: {{ booking.status }},
                                            Booking Date: {{ booking.date }},
                                            <!-- Add more details as needed -->

                                            {% if request.user.is_staff %}
                                            {% if rating %}
                                            <form method="post"
                                                action="{% url 'hotel_your_choice:delete_experience' booking.id %}">
                                                {% csrf_token %}
                                                <input type="submit" value="Delete Rate Experience">
                                            </form>
                                            {% endif %}
                                            {% endif %}

                                            {% if booking.comments.exists %}
                                            <ul class="comment-list">
                                                {% for comment in booking.comments.all %}
                                                <li class="comment" data-comment-id="{{ comment.id }}">
                                                    <p>{{ comment.text }}</p>
                                                    <!-- Like, dislike, and delete options -->
                                                    <div class="like-dislike">
                                                        <form class="like-form" method="post"
                                                            action="{% url 'hotel_your_choice:like_comment' comment.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="like-comment-btn"
                                                                data-like-url="{% url 'hotel_your_choice:like_comment' comment.id %}"
                                                                data-comment-id="{{ comment.id }}"
                                                                {% if comment.user_has_liked %}disabled{% endif %}>
                                                                👍<span
                                                                    class="like-count">{{ comment.likes_count }}</span>
                                                            </button>
                                                        </form>

                                                        <form class="dislike-form" method="post"
                                                            action="{% url 'hotel_your_choice:dislike_comment' comment.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="dislike-comment-btn"
                                                                data-dislike-url="{% url 'hotel_your_choice:dislike_comment' comment.id %}"
                                                                data-comment-id="{{ comment.id }}"
                                                                {% if comment.user_has_disliked %}disabled{% endif %}>
                                                                👎<span
                                                                    class="dislike-count">{{ comment.dislikes_count }}</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    {% if request.user.is_staff %}
                                                    <!-- Show modification and deletion options for admins -->
                                                    <div>
                                                        <h2>Delete Comment</h2>
                                                        <p>Are you sure you want to delete the comment
                                                            "{{ comment.text }}"?</p>
                                                        <p>Comment ID: {{ comment.id }}</p>
                                                        <form method="post" class="delete-comment-form"
                                                            data-comment-id="{{ comment.id }}">
                                                            {% csrf_token %}
                                                            <ul class="commentList">
                                                                <li>
                                                                    <button type="button" class="deleteCommentButton"
                                                                        data-comment-id="{{ comment.id }}">Delete
                                                                        Comment</button>
                                                                </li>
                                                            </ul>
                                                        </form>
                                                        <a href="{% url 'hotel_your_choice:view_hotels' %}">Cancel</a>
                                                    </div>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}

                                            <!-- Add comment form -->
                                            <form class="add-comment-form" data-booking-id="{{ booking.id }}"
                                                action="{% url 'hotel_your_choice:add_comment' booking.id %}"
                                                method="post">
                                                {% csrf_token %}
                                                {{ comment_form.text.label_tag }}
                                                {{ comment_form.text }}
                                                <input type="hidden" name="rating_id" value="{{ rating.id }}">
                                                <button type="submit" class="add-comment-btn">Add Comment</button>
                                            </form>

                                            <!-- Detailed rating information -->
                                            <div class="ratings-details">
                                                <p>User: {{ booking.user.username }}</p>
                                                <p>Rating: {{ booking.ratings.first.rating }}</p>
                                                <p>Comment: {{ booking.ratings.first.text|default:'' }}</p>
                                                <p>Timestamp:
                                                    {{ booking.ratings.first.timestamp|date:"F j, Y g:i a" }}
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Chosen plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

<!-- Your custom script -->
<script src="{% static 'hotel_your_choice_js/hotel_script.js' %}"></script>

<script>
    function showReadMoreModal ( hotelId )
    {
        $( `#readMoreModal${ hotelId }` ).show();
    }

    function hideReadMoreModal ( hotelId )
    {
        $( `#readMoreModal${ hotelId }` ).hide();
    }

    function toggleOtherPhotos ( hotelId )
    {
        const otherPhotosContainer = document.getElementById( `otherPhotos${ hotelId }` );
        const showPhotosButton = document.getElementById( `showPhotosButton${ hotelId }` );

        if ( otherPhotosContainer && showPhotosButton )
        {
            otherPhotosContainer.style.display = otherPhotosContainer.style.display === 'none' ? 'block' : 'none';
            showPhotosButton.innerText = otherPhotosContainer.style.display === 'none' ? 'Show All Photos' : 'Hide Photos';
        } else
        {
            console.error( 'Elements not found. Check if the IDs are correct.' );
        }
    }

    let isEnlargedVisible = false;

    function debounce ( func, delay )
    {
        let inDebounce;
        return function ()
        {
            const context = this;
            const args = arguments;
            clearTimeout( inDebounce );
            inDebounce = setTimeout( () => func.apply( context, args ), delay );
        };
    }

    function showEnlarged ( imageSrc, hotelId )
    {
        const enlargedContainer = document.getElementById( 'enlargedContainer' );
        const enlargedImage = document.getElementById( 'enlargedImage' );
        const allImages = Array.from( document.querySelectorAll( `.hotel-photos img[data-hotel-id="${ hotelId }"], .other-photos img[data-hotel-id="${ hotelId }"]` ) );

        enlargedImage.src = imageSrc;
        enlargedContainer.style.display = 'flex';
        currentHotelId = hotelId;

        function hideEnlarged ()
        {
            enlargedContainer.style.display = 'none';
            isEnlargedVisible = false;
            document.getElementById( 'leftArrow' ).removeEventListener( 'click', showPreviousImage );
            document.getElementById( 'rightArrow' ).removeEventListener( 'click', showNextImage );
        }

        enlargedContainer.onclick = hideEnlarged;
        isEnlargedVisible = true;

        function showNextImage ()
        {
            const currentIndex = allImages.findIndex( img => img.src === enlargedImage.src );
            const nextIndex = ( currentIndex + 1 ) % allImages.length;

            if ( allImages[ nextIndex ] )
            {
                enlargedImage.src = allImages[ nextIndex ].src;
            }
        }

        function showPreviousImage ()
        {
            const currentIndex = allImages.findIndex( img => img.src === enlargedImage.src );
            const previousIndex = ( currentIndex - 1 + allImages.length ) % allImages.length;

            if ( allImages[ previousIndex ] )
            {
                enlargedImage.src = allImages[ previousIndex ].src;
            }
        }

        document.getElementById( 'leftArrow' ).onclick = event =>
        {
            event.stopPropagation();
            showPreviousImage();
        };

        document.getElementById( 'rightArrow' ).onclick = event =>
        {
            event.stopPropagation();
            showNextImage();
        };
    }

    const allImages = document.querySelectorAll( '.hotel-photos img, .other-photos img' );
    allImages.forEach( image =>
    {
        image.addEventListener( 'click', function ()
        {
            const imageSrc = this.src;
            const hotelId = this.getAttribute( 'data-hotel-id' );
            showEnlarged( imageSrc, hotelId );
        } );
    } );

    // Function to handle like and dislike actions
    function handleLikeDislike ( form, url )
    {
        $.ajax( {
            type: 'POST',
            url: url,
            data: form.serialize(),
            success: function ( response )
            {
                console.log( 'Success:', response );

                // Update the like or dislike count on the page
                var commentId = form.data( 'comment-id' );
                var likeCountElement = form.closest( '.comment' ).find( '.like-count' );
                var dislikeCountElement = form.closest( '.comment' ).find( '.dislike-count' );

                likeCountElement.text( response.likes_count );
                dislikeCountElement.text( response.dislikes_count );

                // Disable the like/dislike buttons after a successful click
                form.find( '.like-comment-btn, .dislike-comment-btn' ).prop( 'disabled', true );

                // Prevent the default form submission
                return false;
            },
            error: function ( error )
            {
                console.log( 'Error:', error );
            },
        } );
    }

    // Function to handle adding a new comment
    function handleAddComment ( form, url )
    {
        $.ajax( {
            type: 'POST',
            url: url,
            data: form.serialize(),
            success: function ( response )
            {
                console.log( 'Success:', response );

                // Check if the status is success and the comment_id exists
                if ( response.status === 'success' && response.comment_id )
                {
                    // Create a new comment element and append it to the comments container
                    var newComment = '<li class="comment" data-comment-id="' + response.comment_id + '">' +
                        '<p>' + response.comment_text + '</p>' +
                        '<div class="like-dislike">' +
                        '<button type="button" class="like-comment-btn" data-like-url="' + url + '" data-comment-id="' + response.comment_id + '">👍<span class="like-count">0</span></button>' +
                        '<button type="button" class="dislike-comment-btn" data-dislike-url="' + url + '" data-comment-id="' + response.comment_id + '">👎<span class="dislike-count">0</span></button>' +
                        '</div>' +
                        '</li>';

                    // Append the new comment to the comments container
                    $( '.comment-list' ).append( newComment );

                    // Clear the comment input field
                    form.find( '#id_text' ).val( '' );
                }
            },
            error: function ( error )
            {
                console.log( 'Error:', error );
            },
        } );
    }

    // Submit the like form
    $( document ).on( 'submit', '.like-form', function ( event )
    {
        event.preventDefault();
        var form = $( this );
        var url = form.attr( 'action' );
        handleLikeDislike( form, url );
    } );

    // Submit the dislike form
    $( document ).on( 'submit', '.dislike-form', function ( event )
    {
        event.preventDefault();
        var form = $( this );
        var url = form.attr( 'action' );
        handleLikeDislike( form, url );
    } );

    // Submit the add comment form
    $( document ).on( 'submit', '.add-comment-form', function ( event )
    {
        event.preventDefault();
        var form = $( this );
        var url = form.attr( 'action' );
        handleAddComment( form, url );
    } );
    // Function to get CSRF token from cookies
    function getCookie ( name )
    {
        const cookieString = document.cookie;
        const cookies = cookieString.split( '; ' );

        for ( let i = 0; cookies.length; i++ )
        {
            const cookie = cookies[ i ].split( '=' );
            if ( cookie[ 0 ] === name )
            {
                return cookie[ 1 ];
            }
        }

        return null;
    }

    // Delete comment
    document.getElementById( 'hotelContainer' ).addEventListener( 'click', function ( event )
    {
        if ( event.target.classList.contains( 'deleteCommentButton' ) )
        {
            var commentId = event.target.getAttribute( 'data-comment-id' );

            // Fetch CSRF token
            var csrfToken = getCookie( 'csrftoken' );

            // Check if the CSRF token is available
            if ( !csrfToken )
            {
                console.error( 'CSRF token not available.' );
                return;
            }

            console.log( 'CSRF Token:', csrfToken ); // Debugging line

            // Pass CSRF token to deleteComment function
            deleteComment( commentId, csrfToken );
        }
    } );

    function deleteComment ( commentId, csrfToken )
    {
        console.log( 'Deleting comment with ID:', commentId );
        console.log( 'CSRF Token:', csrfToken );

        console.log( 'Initiating deleteComment fetch request...' );

        fetch( `/delete_comment/${ commentId }/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
        } )
            .then( response =>
            {
                console.log( 'Response:', response );

                if ( !response.ok )
                {
                    throw new Error( `HTTP error! Status: ${ response.status }` );
                }

                return response.json();
            } )
            .then( data =>
            {
                console.log( 'Server data:', data );

                if ( data.success )
                {
                    const commentElement = document.querySelector( `.comment[data-comment-id="${ commentId }"]` );
                    commentElement.remove();
                } else
                {
                    console.error( 'Comment deletion failed.' );
                }
            } )
            .catch( error =>
            {
                console.error( 'Error during comment deletion:', error );
            } );
    }


    document.addEventListener( 'DOMContentLoaded', function ()
    {
        var elems = document.querySelectorAll( '.modal' );
        var instances = M.Modal.init( elems );
    } );


</script>

{% endblock %}