{% extends 'base_generic.html' %}
{% load static %}


{% block title %}Client Dashboard{% endblock %}



{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<h1>Client Dashboard</h1>

{# Display user-specific information or greetings #}

<!-- Modal for displaying messages -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="messageModalLabel">Message</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Your Bookings -->
<h2>Your Bookings:</h2>
{% for booking in bookings %}
<div>
    <h3>Booking ID: {{ booking.id }}</h3>
    <p>Hotel Name: {{ booking.hotel.name }}</p>
    <p>Check-in: {{ booking.check_in_date }} - Check-out: {{ booking.check_out_date }}</p>
    <!-- Add other booking information as needed -->

    <!-- Add links/buttons for actions like rating, rescheduling, and cancellation -->
    <a href="{% url 'hotel_your_choice:rate_experience' booking.id %}" class="black-text underline">Rate your experience</a>

    <form method="post" action="{% url 'hotel_your_choice:client_dashboard' %}">
    {% csrf_token %}
    <input type="hidden" name="booking_id" value="{{ booking.id }}">
    <input type="hidden" name="action" value="reschedule_booking">
    <label for="newCheckInDate" style="color: #333;">New Check-In Date:</label>
    <input type="date" id="newCheckInDate" name="new_check_in_date" data-input>
    <label for="newCheckOutDate" style="color: #333;">New Check-Out Date:</label>
    <input type="date" id="newCheckOutDate" name="new_check_out_date" data-input>
    <button type="submit" onclick="reloadPage()">Reschedule</button>
    </form>

    <form method="post" action="{% url 'hotel_your_choice:client_dashboard' %}">
        {% csrf_token %}
        <input type="hidden" name="booking_id" value="{{ booking.id }}">
        <input type="hidden" name="action" value="cancel_booking">
        <button type="submit" onclick="reloadPage()">Cancel</button>
    </form>
</div>
{% endfor %}

<!-- Add other content as needed -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% if messages %}
<script>
    $(document).ready(function() {
    $('#messageModal').modal();
    $('#messageModal').modal('open');
    });

    // Function to close the modal
    function closeModal ()
    {
        $( '#messageModal' ).modal( 'close' );
    }
</script>
{% endif %}

<script>
    $( document ).ready( function ()
    {
        // Show/hide reschedule form when the button is clicked
        $( ".toggle-reschedule-form" ).on( "click", function ()
        {
            $( this ).next( "form" ).toggle();
        } );
    } );
</script>
{% endblock %}