{% extends 'base_generic.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'hotel_your_choice:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a>.</p>
    <p>Don't have an account? <a href="{% url 'hotel_your_choice:register' %}">Register here</a>.</p>
</div>
{% endblock %}